COMPOSE_PROJECT_NAME=apex-stack

# Passwords should Use values with letters, digits, hyphen, and underscore.
# Avoid ampersand (&), slash (/), quotes, and whitespace because Oracle
# installer scripts treat some characters specially.

# Oracle Database environment variables
ORACLE_CHARACTERSET=replace-with-local-character-set-usually-AL32UTF8
ORACLE_PDB=replace-with-local-oracle-pdb-name
ORACLE_PWD=replace-with-local-oracle-password
ENABLE_ARCHIVELOG=replace-with-true-or-false
ENABLE_FORCE_LOGGING=replace-with-true-or-false

# Oracle APEX environment variables
APEX_PUBLIC_USER_PWD=replace-with-local-apex-public-password
APEX_LISTENER_PWD=replace-with-local-apex-listener-password
APEX_REST_PUBLIC_USER_PWD=replace-with-local-apex-rest-public-password
APEX_ADMIN_PWD=replace-with-local-apex-admin-password
APEX_TABLESPACE_NAME=replace-with-local-apex-tablespace-name
APEX_TABLESPACE_FILE_NAME=replace-with-local-apex-tablespace-file-name

# Oracle REST Data Services environment variables
ORDS_PUBLIC_USER_PWD=replace-with-local-ords-password

# Host port mappings
HOST_DB_PORT=1521
HOST_ORDS_PORT=8181
