COMPOSE_PROJECT_NAME=apex-stack

# Passwords should Use values with letters, digits, hyphens, and underscores.
# Avoid ampersands (&), slashes (/), quotes, and whitespace characters because
# Oracle treats some characters specially.

################################################################################
# Oracle Database environment variables
################################################################################

########################################
## Container defined variables
########################################

# Local character set
ORACLE_CHARACTERSET=AL32UTF8
# PDB name, usually FREEPDB1
ORACLE_PDB=FREEPDB1
# Desired password, must meet Oracle password complexity requirements
# Used for SYS, SYSTEM, and PDBADMIN accounts.
ORACLE_PWD=abc123ABC!
# Set to true or false depending on whether you want to enable archivelog mode
ENABLE_ARCHIVELOG=true
# Set to true or false depending on whether you want to enable force logging
ENABLE_FORCE_LOGGING=true

########################################
## Port mappings
########################################

# Host port for the database service
HOST_DB_PORT=1521

################################################################################
# Oracle APEX environment variables
################################################################################

# Desired password, must meet Oracle password complexity requirements
APEX_PUBLIC_USER_PWD=abc123ABC!
# Desired password, must meet APEX password complexity requirements
APEX_ADMIN_PWD=abc123ABC!

################################################################################
# Oracle REST Data Services environment variables
################################################################################

########################################
## Container defined variables
########################################

# Set to true or false depending on whether you want to enable ORDS debug mode
ORDS_DEBUG=false
# Set to true or false depending on whether you want to force ORDS to use secure connections
ORDS_FORCE_SECURE=false

########################################
## Port mappings
########################################

# Host port for ORDS HTTP service (if no SSL certificate is provided, this port will be used for HTTP connections)
HOST_ORDS_HTTP_PORT=8181
# Host port for ORDS HTTPS service (if SSL certificate is provided, this port will be used for HTTPS connections)
HOST_ORDS_HTTPS_PORT=8443

########################################
## Container custom settings
########################################

# Desired ORDS container PID limit value
ORDS_PIDS_LIMIT=4096
# Desired ORDS JDK Java options value
ORDS_JDK_JAVA_OPTIONS="-Xms512M -Xmx1024M"
